<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        html,body{
            width: 100%;
            height: 100%;
        }
    </style>

    <title>Document</title>
</head>
<body>
    <div class="bg-zinc-900 w-full h-full  text-white">
        <!-- <h1 class="text-3xl mb-3">HOME PAGE</h1> -->
       <nav class="flex gap-3 bg-zinc-500 w-full px-3 py-4 text-xl  ">  
  
<a href="#"> Home </a>  
 
<a href="#"> About </a>  
  
<a href="#"> Contact </a>  
 <a href="#"> Terms of use </a>  
  
<a href="#"> Join Us </a> 

<a  href="/register" class="border-2 border-zinc-900 rounded-md bg-blue-500">Sign Up</a>

<a href="/login" class="border-2 border-zinc-900 rounded-md ">Sign In</a>
  
</nav>  
       
    </div>
</body>
</html>