<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        html,body{
            width: 100%;
            height: 100%;
        }
    </style>

    <title>Document</title>
</head>
<body>
    <div class="bg-zinc-900 w-full h-full p-10 text-white text-center ">
        <h1 class="text-3xl mb-3">Sign UP</h1>
        <form action="/register" method="post" class="flex flex-col justify-center items-center">
            <input  class=" rounded-md px-3 py-2 bg-transparent border-2 border-zinc-800 w-72 mb-5" type="text" placeholder="name" name="name">
            <input class="rounded-md px-3 py-2 bg-transparent border-2 border-zinc-800 w-72 mb-5"  type="text" placeholder="username" name="username">

            <input  class=" rounded-md px-3 py-2 bg-transparent border-2 border-zinc-800 w-72 mb-5" type="email" placeholder="email" name="email">
            <input  class=" rounded-md px-3 py-2 bg-transparent border-2 border-zinc-800 w-72 mb-5" type="password" placeholder="password" name="password">
            <input  class=" rounded-md px-3 py-2 bg-transparent border-2 border-zinc-800 w-72 mb-5" type="number" placeholder="age" name="age">
            <input type="submit" class="bg-blue-500 px-3 py-2 rounded-md w-32" value="Sign up">

        </form>
    </div>
</body>
</html>